@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* لوحة الألوان فقط – الاستخدام: كلاسات Tailwind مثل bg-primary-turquoise, text-navy-blue */

  /* Primary Turquoise | تركواز أساسي | #00ACA9 | RGB: 0, 172, 169 */
  --primary-turquoise: 0, 172, 169;

  /* Primary Grey | رمادي أساسي | #97A4AE | RGB: 151, 164, 174 */
  --primary-grey: 151, 164, 174;

  /* Lime Green | أخضر ليموني | #A2CC84 | RGB: 162, 204, 132 */
  --lime-green: 162, 204, 132;

  /* Grey Blue | أزرق رمادي | #8DB8CA | RGB: 141, 184, 202 */
  --grey-blue: 141, 184, 202;

  /* Navy Blue | أزرق بحري | #25316B | RGB: 37, 49, 107 */
  --navy-blue: 37, 49, 107;

  /* Warm Grey | رمادي دافئ | #ACA199 | RGB: 172, 161, 153 */
  --warm-grey: 172, 161, 153;

  /* Sand Brown | بني رملي | #DEA36D | RGB: 222, 163, 109 */
  --sand-brown: 222, 163, 109;
  /* Sand Brown Light | بني رملي فاتح */
  --sand-brown-light:252, 240, 189;

  /* Quite Purple | بنفسجي هادئ | #7C6990 | RGB: 124, 105, 144 */
  --quite-purple: 124, 105, 144;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: rgb(var(--navy-blue));
  font-family: var(--font-cairo), system-ui, sans-serif;
}

[dir='rtl'] {
  text-align: right;
}
